h5 {
  color: #fff;
}

nav {
  max-width: 1920px;
  width: 100%;
  height: 70px;
  position: fixed;
  background: linear-gradient(92.88deg, #B565D8 9.74%, #EE609C 99.48%);
  z-index: 998;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  text-align: center;
  margin: auto;
  height: 100%;
  text-align: center;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul li {
  list-style: none;
  padding: 0 15px;
  position: relative;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav ul li a i {
  margin-top: 3px;
  margin-left: 7px !important;
}
nav #media-despley-none {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
nav #media-despley-none img {
  height: 26.67px;
  width: 26.67px;
  margin: 0 10px;
  cursor: pointer;
}
nav #media-despley-none i {
  color: #fff;
  font-size: 13px;
}

.logo-img-img {
  width: 20%;
}

.logo-size {
  max-width: 195.89px !important;
  height: 41px;
  margin: 0 2% !important;
}

.nav-container-sections-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 68%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#coll {
  height: 37.03px;
  width: 37.03px !important;
  cursor: pointer;
}

#search {
  position: absolute;
  right: 10%;
  top: 81px;
  visibility: hidden;
  width: 456px;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 0 10px;
  font-size: 20px;
}

#search:focus {
  outline: none;
  color: #fff;
}

.search-hover {
  visibility: initial !important;
}

#list-country {
  position: absolute;
  background: rgba(54, 54, 54, 0.7);
  width: 50px;
  height: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px;
  visibility: hidden;
}

.list-country {
  visibility: inherit !important;
}

.lengujes {
  position: relative;
  display: inline-block;
}

.logos-manu-320 {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
}
.logos-manu-320 #coll-registration-hover {
  position: relative !important;
  top: 0 !important;
  right: 0 !important;
}
.logos-manu-320 .armenia-1 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.logos-manu-320 .armenia-2 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.logos-manu-320 .armenia-3 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.logos-manu-320 .armenia-4 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.logos-manu-320 img {
  margin: 10px;
  width: 17.73px;
  height: 17.73px;
  z-index: 999;
  -webkit-filter: grayscale(0%) !important;
          filter: grayscale(0%) !important;
}

.menu-320-text {
  height: 75%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-320-text a {
  color: #fff !important;
  font-size: 15px;
  text-decoration: none;
}
.menu-320-text span {
  color: #fff;
}
.menu-320-text .line-3 {
  left: 50px;
  width: 100%;
  height: 2px;
  padding: 0;
  background: #fff !important;
  margin: 4px 0;
}

.href-relative-350 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}
.href-relative-350 a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  background: linear-gradient(92.88deg, #B565D8 9.74%, #EE609C 99.48%);
  width: 262px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
}
.href-relative-350 .href-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 50px;
}
.href-relative-350 a:hover {
  opacity: 0.8;
}
.href-relative-350 .iconss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
  width: 60%;
}
.href-relative-350 .iconss i {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}
.href-relative-350 .iconss i:hover {
  color: #4289DB;
}

.href-reletive-350 {
  display: none;
}

.sections-sections {
  width: 100% !important;
}

.nav-container-sections-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 68%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.logo-img-img {
  width: 20%;
}

.media-block {
  display: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 50px;
  display: none;
}
.media-block img {
  max-width: 20px !important;
  margin: 0 30px;
}

.media-blok-hover {
  width: 300px;
  height: auto;
  position: absolute;
  padding: 30px;
  border-radius: 20px;
  background: rgba(54, 54, 54, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -1;
  left: -250px;
  visibility: hidden;
}

.media-hover-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.media-blok:hover .media-blok-hover {
  visibility: inherit !important;
  z-index: 999 !important;
}

.medias-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.medias-hover a {
  text-decoration: none;
  color: white;
}
.medias-hover .line-1 {
  width: 100%;
  height: 1px;
  background: #fff;
}

.iconss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
  width: 60%;
}
.iconss i {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}
.iconss i:hover {
  color: #4289DB;
}

.armenia-flag {
  position: absolute;
  top: 491px;
  left: 120px;
}

.href-reletive-350 {
  display: none;
}

.work-hover {
  width: 300px;
  height: auto;
  position: absolute;
  padding: 30px;
  border-radius: 20px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  visibility: hidden;
  line-height: 0 !important;
  left: -90px;
}
.work-hover a {
  margin: 20px 0;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.work {
  list-style: none;
  margin: 0 30px;
  position: relative;
}

.work:hover .work_a {
  color: #A1A3A6;
}
.work:hover .work-hover {
  visibility: inherit;
  z-index: 999;
}

.line-1 {
  width: 100%;
  height: 1px;
  background: #fff;
}

.secrviced-hover:hover .services {
  visibility: initial !important;
}

.img-container-1 {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #3561B5;
  border: 2px solid white;
  -webkit-box-shadow: 0 0 1px;
          box-shadow: 0 0 1px;
  cursor: pointer;
}

.facultet-hover {
  width: 300px;
  height: auto;
  position: absolute;
  padding: 30px;
  border-radius: 20px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  bottom: -1;
  left: -50px;
  visibility: hidden;
}
.facultet-hover img {
  width: 22px !important;
  height: 14px !important;
}
.facultet-hover a {
  width: 100%;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-hover {
  width: 300px;
  height: auto;
  position: absolute;
  padding: 30px;
  border-radius: 20px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  visibility: hidden;
  line-height: 0 !important;
  left: -90px;
}
.work-hover a {
  margin: 20px 0;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.facultet {
  list-style: none;
  margin: 0 30px;
  position: relative;
}

li:hover .facultet-hover {
  z-index: 999;
  visibility: inherit;
  font-size: 14px;
}
li:hover i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.work {
  list-style: none;
  margin: 0 30px;
  position: relative;
}

.work:hover .work_a {
  color: #A1A3A6;
}
.work:hover .work-hover {
  visibility: inherit;
  z-index: 999;
}

.line-1 {
  width: 100%;
  height: 1px;
  background: #fff;
}

.services {
  width: 1106px;
  height: 716px;
  position: absolute;
  top: 30px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  z-index: 999;
  right: -390px;
  display: flex;
  grid-gap: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 !important;
  border-radius: 15px;
  line-height: 30px;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 20px;
}
.services .line-line {
  width: 100%;
  height: 2px;
  margin: 5px 0;
  background: #fff;
}

#cool-registration {
  width: 948px;
  height: 674px;
  background: #363636;
  position: fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 100px;
  z-index: 998;
  left: 350px;
  border-radius: 15px;
}
#cool-registration .cool-registration-container {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 153px;
}
#cool-registration .cool-registration-container .href-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 500px;
  width: 47%;
}
#cool-registration .cool-registration-container a {
  padding: 0 !important;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
#cool-registration input {
  margin: 10px 0;
  width: 347px !important;
  height: 70px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: white !important;
  padding: 0 55px;
  font-size: 18px;
}
#cool-registration input::-webkit-input-placeholder {
  color: white;
}
#cool-registration input:focus {
  color: white;
  outline: none;
}
#cool-registration .name-username {
  padding: 20px;
}
#cool-registration select {
  margin: 10px 0;
  width: 347px !important;
  height: 70px;
  height: 60px;
  padding-left: 20px;
  padding-right: 40px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#cool-registration .hrefs {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #C95400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#cool-registration .hrefs-1 {
  width: 347px !important;
  height: 70px;
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#cool-registration .hrefs-1 p {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}
#cool-registration .hrefs-1 img {
  margin-left: 20px;
}
#cool-registration .hrefs-2 {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #008D1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#cool-registration .hrefs-3 {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #00879A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-h3 {
  position: absolute;
  top: 450px;
  left: 20px;
  z-index: 999;
  color: #fff;
}

.logo-coll {
  position: absolute;
  top: 20px;
}

.armenia-flag {
  position: absolute;
  top: 491px;
  left: 120px;
}

.menu-320-hover {
  z-index: 990;
  position: relative;
  width: 321px;
  height: 1000px;
  top: 70px;
  left: 0;
  position: fixed;
  background: #000000;
  opacity: 0.5;
}

.serivices-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.line-3 {
  width: 100%;
  height: 1px;
  background: darkgrey;
}

.secrviced-hover:hover .services {
  visibility: initial !important;
}

.services-text {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.services-text-cotnaier {
  line-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.services-text-cotnaier img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.services-text-cotnaier p {
  width: 100%;
  margin: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.services-text-cotnaier a {
  color: darkgrey !important;
}
.services-text-cotnaier .font-14 {
  font-size: 14px;
}

.services-contaier-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-text:hover .line-3 {
  background: #fff !important;
}
.services-text:hover img {
  -webkit-filter: grayscale(0%) !important;
          filter: grayscale(0%) !important;
}
.services-text:hover a {
  color: #fff !important;
}

.menu-320-hover {
  z-index: 990;
  position: relative;
  width: 321px;
  height: 1000px;
  top: 70px;
  left: 0;
  position: fixed;
  background: #000000;
  opacity: 0.5;
}

.menu-320-products {
  width: 320px;
  height: 300px;
  background: rgba(54, 54, 54, 0.7);
  -webkit-backdrop-filter: blur(19px) !important;
          backdrop-filter: blur(19px) !important;
  z-index: 998 !important;
  position: absolute;
  opacity: 1;
  left: 0;
}

.sections-sections {
  width: 100% !important;
}

.seclect-absalute {
  width: 90%;
  position: relative;
}
.seclect-absalute i {
  position: absolute;
  right: 36px;
  top: 33px;
  color: #fff;
  width: 10.67px;
  height: 5.33px;
}

.menu-320-hover {
  z-index: 990;
  position: relative;
  width: 321px;
  height: 1000px;
  top: 70px;
  left: 0;
  position: fixed;
  background: #000000;
  opacity: 0.5;
}

#menu-320 {
  display: none;
}

#manu-320-block {
  display: none !important;
}

.manu-320-onclick-block #manu-320-block {
  display: block !important;
}
.manu-320-onclick-block .menu-320-products {
  width: 320px;
  height: 300px;
  background: rgba(54, 54, 54, 0.7);
  -webkit-backdrop-filter: blur(19px) !important;
          backdrop-filter: blur(19px) !important;
  z-index: 998 !important;
  position: absolute;
  opacity: 1;
  left: 0;
}
.manu-320-onclick-block .logos-manu-320 {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
}
.manu-320-onclick-block .logos-manu-320 #coll-registration-hover {
  position: relative !important;
  top: 0 !important;
  right: 0 !important;
}
.manu-320-onclick-block .logos-manu-320 .armenia-1 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.manu-320-onclick-block .logos-manu-320 .armenia-2 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.manu-320-onclick-block .logos-manu-320 .armenia-3 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.manu-320-onclick-block .logos-manu-320 .armenia-4 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.manu-320-onclick-block .logos-manu-320 img {
  margin: 10px;
  width: 17.73px;
  height: 17.73px;
  z-index: 999;
  -webkit-filter: grayscale(0%) !important;
          filter: grayscale(0%) !important;
}
.manu-320-onclick-block .menu-320-text {
  height: 75%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.manu-320-onclick-block .menu-320-text a {
  color: #fff !important;
  font-size: 15px;
  text-decoration: none;
}
.manu-320-onclick-block .menu-320-text span {
  color: #fff;
}
.manu-320-onclick-block .menu-320-text .line-3 {
  left: 50px;
  width: 100%;
  height: 2px;
  padding: 0;
  background: #fff !important;
  margin: 4px 0;
}

.href-relative-350 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}
.href-relative-350 a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  background: linear-gradient(92.88deg, #B565D8 9.74%, #EE609C 99.48%);
  width: 262px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
}
.href-relative-350 .href-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 50px;
}
.href-relative-350 a:hover {
  opacity: 0.8;
}
.href-relative-350 .iconss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
  width: 60%;
}
.href-relative-350 .iconss i {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}
.href-relative-350 .iconss i:hover {
  color: #4289DB;
}

.href-reletive-350 {
  display: none;
}

.sections-sections {
  width: 100% !important;
}

.seclect-absalute {
  width: 90%;
  position: relative;
}
.seclect-absalute i {
  position: absolute;
  right: 36px;
  top: 33px;
  color: #fff;
  width: 10.67px;
  height: 5.33px;
}

.cool-registration-on {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  left: 25% !important;
}

#cool-registration .hrefs-1 {
  width: 347px !important;
  height: 70px;
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cool-registration .hrefs-1 p {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 30px;
}

#cool-registration .hrefs-1 img {
  margin-left: 20px;
}

.color-1 {
  background: #C95400;
}

.color-2 {
  background: #6328C3;
}

.color-3 {
  background: #008D1F;
}

.color-4 {
  background: #00879A;
}

#coll-registration-hover {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  z-index: 999;
}

.armenia-flag {
  position: absolute;
  top: 491px;
  left: 120px;
}

.manu-320-onclick-block .logos-manu-320 .armenia-1 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.a-1 {
  width: 347px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  background: linear-gradient(92.88deg, #B565D8 9.74%, #EE609C 99.48%);
  -webkit-box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.a-1:hover {
  opacity: 0.8;
}

.seclect-absalute-2 {
  width: 90%;
  position: relative;
}
.seclect-absalute-2 i {
  position: absolute;
  right: -7px;
  top: 33px;
  color: #fff;
  width: 10.67px;
  height: 5.33px;
}

@media (max-width: 1000px) {
  #cool-registration {
    position: absolute !important;
    left: 10% !important;
    width: 405px !important;
    height: 994px !important;
    top: 70px !important;
    z-index: 997;
  }

  .cool-registration-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px !important;
  }
  .cool-registration-container img {
    display: none;
  }

  .armenia-flag {
    top: 537px !important;
    left: 64px !important;
  }
}
@media (max-width: 1650px) {
  .nav-container-sections-3 {
    width: 72% !important;
  }
}
@media (max-width: 1400px) {
  .nav-container-sections-3 {
    max-width: 74% !important;
  }

  ul li:nth-child(4) {
    display: none !important;
  }
}
@media (max-width: 1200px) {
  nav .nav-container {
    max-width: 100% !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    margin: 0 !important;
  }

  .manu-none {
    display: none !important;
  }

  .media-block {
    display: block !important;
  }

  .media-hover-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  ul li {
    padding: 0 10px !important;
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }

  .media-block:hover .media-blok-hover {
    visibility: inherit !important;
    z-index: 999 !important;
  }

  .armenia-2 {
    display: none !important;
  }

  .armenia-3 {
    display: none !important;
  }

  .armenia-4 {
    display: none !important;
  }

  ul li:nth-child(1) {
    display: none !important;
  }
}
@media (max-width: 900px) {
  .signup-container {
    width: auto !important;
    height: 1084px !important;
  }

  #signup_1 {
    left: 0% !important;
  }

  #signup_2 {
    left: 0% !important;
  }

  #signup_3 {
    left: 0% !important;
  }

  #signup_4 {
    left: 0% !important;
  }

  .signup-container-regist {
    width: 744px !important;
  }

  nav .nav-container {
    width: 100% !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }

  #coll {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .logo-size {
    width: 100px !important;
  }

  ul {
    display: none !important;
  }
}
@media (max-width: 676px) {
  .networks ul {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: initial !important;
    -webkit-box-direction: initial !important;
        -ms-flex-direction: initial !important;
            flex-direction: initial !important;
  }

  nav .nav-container {
    width: 95% !important;
  }

  .logo-size {
    width: 100px;
    margin-left: 20px !important;
  }

  ul {
    display: none !important;
  }

  .armenia-1 {
    display: none !important;
  }

  .abs {
    right: 110px !important;
    font-size: 16px !important;
  }

  #search-on {
    display: none !important;
  }

  #signup_1 {
    left: 2px !important;
  }

  #signup_2 {
    left: 2px !important;
  }

  #signup_3 {
    left: 2px !important;
  }

  #signup_4 {
    left: 2px !important;
  }
}
@media (max-width: 450px) {
  .abs {
    right: 110px !important;
    font-size: 15px !important;
  }

  .signup-container-regist {
    height: auto !important;
    width: 305px !important;
    margin: 0 !important;
  }
  .signup-container-regist .h2-1 {
    font-size: 15px !important;
    color: #fff;
  }
  .signup-container-regist h2 {
    font-size: 15px !important;
  }

  .signup-container-regist input {
    width: 279px !important;
  }

  .signup-container-center-2 {
    height: auto !important;
  }

  .signupinnerhtml-2 {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }

  .signup-container {
    width: 320px !important;
    height: auto !important;
  }

  input {
    width: 265px !important;
    height: 60px !important;
  }

  select {
    width: 265px !important;
    height: 60px !important;
  }

  .sign-up-registrarion {
    width: 265px !important;
    height: 70px !important;
  }

  .menu-320-hover {
    width: 100% !important;
  }

  .manu-320-onclick-block .menu-320-products {
    width: 100% !important;
  }

  .media-block {
    display: none !important;
  }

  #menu-320 {
    display: block !important;
  }

  .href-relative {
    display: none !important;
  }

  .href-reletive-350 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    width: 80%;
    margin: auto;
  }
  .href-reletive-350 a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    background: linear-gradient(92.88deg, #B565D8 9.74%, #EE609C 99.48%);
    width: 262px;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
    border-radius: 10px;
    -webkit-box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
            box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
  }
}