@media(max-width:1000px){
    
    #cool-registration{
        position: absolute !important;
        left: 10%!important;
        width: 
        405px !important;
        height: 
        994px !important;
        top: 70px !important;
        z-index: 997;
    }
    .cool-registration-container{ 
        flex-direction: column;
        img{
            display: none;
        }
        margin-top: 0px !important;
    }
    .armenia-flag{
        top: 537px !important;
        left: 64px !important;
    }
}
// @media(max-width:1450px){
//     .slider-wrapper{
//         width: 
//         485.14px !important;
//         height: 
//         398.69px !important;
//     }
    
//     #particles-js{
//         height: 13300px !important;
//     }
//    .container-3{
//      flex-direction: column !important;
//    }
//    .section-3-container-sections{
//     grid-template-columns: repeat(1,1fr) !important;
//    }
// }

// @media(max-width:1300px){
//     .watch-more {
//         width: 32%;
//     }
//     .slider-wrapper{
//         width: auto !important;
//     }
//     .typewrite{
//         font-size:30px !important ;
//     }
//     .container-2-2-text{
//         width: auto !important;
        
//     }
//     .container-2-2-text p{
//         font-size: 18px !important;
//     }
//     .section-3-contaiener-1-1{
//         width:  auto;
//     }
//     .section-4-contaiener-1-1 {
//         width: auto !important;
//     }
//     .section-2-flex .container-4-1 p{
//         font-size: 15px !important;
//     }
//     .sections-sections{
//          width: auto !important;
//     }
//     .slider-wrapper{
//         width: 522.95px !important;
//         height: 562.63px !important;
//     }
//     .typewrite{
//         width: 80% !important;
//       text-align: center !important;  
//         margin: auto;
//         font-size: 30px !important;
//         height: auto !important;
//     }
//     .media-hover-flex{
//         width: 100%;
//         display: flex;
//         img{margin: 0% 5px!important;}
        
//    }
//    .container-2-2-text{
//        margin: 20px 0;
//    }
//     *{
//         flex-wrap: wrap;
//         grid-template-columns: repeat(1,1fr) !important;
//         grid-template-rows: repeat(3,1fr) !important;
//        margin: auto;
//     }
//     .container-4-1{
//         p{
//             width: 100% !important;
//             margin: auto !important;
//             line-height: 25px !important;
//         }
//     }
//     .nav-container{
//         width: 80%  !important;
      
//     }
//     .nav-container div {
//         margin: 0 !important;
//     }
    
//     .media-hover-flex{
//         margin: 0;
//     }
//     .section-2-flex{
//         width: 100% !important;
//     }
//     .sections-sections{
//         width: 100% !important;
//         p{
//             width: 100% !important;
//             text-align: center !important;
//         }
//     }
//     .section-4-scroll{
//         width: 100% !important;
//     } 
    
//     #particles-js{
//         height: 13100px !important;
//     }
//     .slider-wrapper {
//         width: 
//         547.69px !important;
//         height: 
//         589.25px !important;
//         position: relative;
//     }
//    #media-despley-none{
//         display: none !important;
//     }
//     nav ul {
//         display: none !important;
//     }
//     .media-block{
//         display: block !important;
//     }
   
//     .media-hover-flex{
//         display: flex;
//         justify-content: space-between;
//     }
//     .media-block:hover{
//         .media-blok-hover{
//             visibility: inherit !important;
//             z-index: 999 !important;
//         }
        
//     }
//     .container-8{
//         img{
//            display: none;
//         }
//     }
//    .container-2{
//        grid-gap: 30px;
//    }
//    .section-1-href{
//        margin: 40px;
//    }
//    h1{
//        width: 100% !important;
//        text-align: center;
//    }
//    h2{
//        width: 100%;
//        padding: 0;
//        text-align: center;
//    }
//    #top{
//   bottom: 0px !important;
//        img{
       
//         width: 28.9px !important;
//           height: 28.9px !important;
//        }
     
//    }
//    #sms-img{
//     width: 28.9px !important;
//     height: 28.9px !important;
//    }
// }
// @media(max-width:400px){
 

//     .container-8-text{
//         input{
//             width: 300px !important;
//             height: 50px !important;
//         }
//         a{
//             width: 300px !important;
//             height: 50px !important;
//         }
//     }
// }
// @media(max-width:700px){
//     .container-4-1{
//         p{
//             font-size: 15px !important;
//             width: 100% !important;
//             margin: auto !important;
//             text-align: center !important;
//         }
//     }
//     .container-2-2-text{
//         width: 80% !important;
//         margin: auto !important;
//         margin: 10px 0 !important;
//         p{
//             font-size: 13px !important;
//         }
//     }
//         .section-2{
//         overflow: inherit !important;
//     }
//     #container-2-1{
//         img{
//             max-width: 100%;
//         }
//         width: 80% !important;
//         margin: auto !important;
//     }
//     .iconss{
//         width: 100% !important;
//         margin: auto !important;
//     }
//     .section-1{
//         overflow: inherit !important;
//     }
//     h1{
//         font-size: 30px !important;
//         text-align: center !important;
//     }
//     .section-3-contaiener-1-1{
//         width: 70% !important;
//         margin: auto !important;
//         .abs{
//             display: none;
//         }
//     }
//     .section-4-contaiener-1-1{
//         width: 80% !important;
//         margin: auto !important;
//     }
//     h2{
//         font-size: 30px !important;
//     }
//     .slider-wrapper {
//         width: 463.22px !important;
//         height: 380.68px !important;
//         position: relative;
//     }
//     #particles-js{
//         height: 13000px !important;
//     }
//      .container-2-3{
//        display: none !important;
//     }
//     .section-5{
//      overflow: hidden;
//     }
//     .section-1-a{
//         grid-gap: 10px;
//     }
//     .container-2{
//         overflow: hidden;
//     }
//     .container-4-1{
//         p{
//             width: 100% !important;
//             margin: auto !important;
//             line-height: 25px !important;
//         }
//     }
//     .top{
//         bottom: 200px !important;
//     }
// }

// .inp-2{
//     color: white;
    
// }
@media(max-width:1650px){
    .section-3-contaiener-1-1 {
        max-width: 410px !important;
        width: none !important;
    }
    .section-4-contaiener-1-1{
        max-width: 410px !important;
    }
    #oll-sections{
        max-width: 1350px !important;

    }
    #body{
        max-width: none !important;
    }
    .nav-container-sections-3{
        width: 72% !important;
    }
   
       
    .container-2-3{
        margin: 0 !important;
    }
    .section-8 .container-8 img {
      
        margin-right: 0 !important;
    }
   
    .slider-wrapper{
        width: 574px !important;
    }
    .typewrite{
        width: 617px !important;
        font-size:60px !important ;
    }
    .section-2 .container-2{
        width: 100% !important;
    }
    .container-2-2-text{
        width: 350px !important;
        
    }
    .container-2-2-text p{
        font-size: 18px !important;
    }
    
    .section-2-flex .container-4-1 p{
        font-size: 15px !important;
    }
   
}
@media(max-width:1400px){
    .section-1 .section-1-absalute{
        max-width: 684px !important;
    }
    #container-2-1{
        margin-left: 0 !important;
    }
    .section-4-contaiener-1-1{
        max-width: 380px !important;
    }
    .section-3-container-sections .section-3-contaiener-1-1{
        max-width: 380px !important;
    }
    .section-3-container-sections h3{
        font-size: 20px !important;
        right: 105px !important;
    }
}
@media(max-width:1400px){
    #oll-sections{
        max-width: 1099px !important;

    }
    .nav-container-sections-3{
            max-width: 74% !important;
    }
    #sms-img{
        max-width: 28.9px !important;
        height: 28.9px !important;
       }
    #top{
        bottom: 0px !important;
             img{
             
              max-width: 28.9px !important;
                height: 28.9px !important;
             }
           
         }
    .section-1{
        padding-top: 236px;
    }
    .oll-sections{
        min-width: none !important; 
    }
    .container-2-2-text{
        width:  350px !important;
       
    }
    ul{
        li:nth-child(4){
            display: none !important;
        }
    }
    .slider-wrapper{
        max-width: 
        547.69px !important;
        height: 
        589.25px !important;
    }
    #container-2-1{
        width: 
        715px !important;
        height: auto !important;
    }
    .container-2-1-text p{
        font-size: 14px !important;
    }
    .section-3-contaiener-1-1{
        width: 342px !important;
    }
    .icon-1{
        max-width: 132px !important;
        height: 87px !important;
    }
    .icon-2{
       max-width: 132px !important;
        height: 87px !important;
    }
    .icon-3{
        max-width: 132px !important;
        height: 87px !important;
    }
    .section-3-container-sections h3{
     font-size: 20px;
    }
    .section-4-contaiener-1-1:nth-child(3){
       display: none !important;
    }
    .section-4-container-sections{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:1050px){
    #oll-sections{
        max-width: 1050px !important;

    }
    .container-10{
        flex-direction: column;
    }
    .container-4-1{
         max-width: 100% !important;
    }
    .container-2-3{
       display: none !important;
    }
}
@media(max-width:1200px){
    #oll-sections{
        max-width: 834px !important;

    }
    .section-6{
       flex-direction: column !important;
       line-height: 50px;
    }
    nav .nav-container{
        max-width: 100% !important;
        flex-wrap: wrap !important;
        margin: 0 !important;
     }
    .manu-none{
        display: none !important;
    }
    .media-block{
        display: block !important;
    }
   
    .media-hover-flex{
        display: flex;
        justify-content: space-between;
    }
    ul{
      li{
          padding: 0 10px !important;
          flex-wrap: nowrap !important;
      }
    }
    .media-block:hover{
        .media-blok-hover{
            visibility: inherit !important;
            z-index: 999 !important;
        }
        
    }
      .armenia-2{
          display: none !important;
      }
      .armenia-3{
        display: none !important;
    }
    .armenia-4{
        display: none !important;
    }
    
    ul{
        li:nth-child(1){
            display: none !important;
        }
    }
   .wrap{
       font-size: 50px !important;
   }
   .typewrite{
       width: 380px !important;
       height: 188px !important;
       line-height: 54px !important;
       display: inline-block !important;
   }
   .container-2{
      flex-wrap: wrap !important;
   }
   #container-2-1{
       width: 
       auto !important;
       height: 
       433px !important;
   }
   .container-2-2-text{
      width:  auto !important;
       height: 125px !important;
       margin: 40px 20px !important;
   }
   .container-2-2-text:nth-child(2){
    display: none !important;
  
}
   #container-2-2{
       flex-direction:inherit !important;

   }
   .section-3-container-sections{
      grid-template-columns: repeat(1,1fr) !important;
      grid-template-rows: repeat(3,1fr) !important;
   }
   .section-3-container-sections .section-3-contaiener-1-1{
       max-width:  480px !important;
   }
   .section-2-flex .container-4-1 p{
    font-size: 13px !important;
    max-width: 90% !important;
}
.section-5-contaiener-1-1 p{
    width: 34% !important;
}
.section-8 .container-8 img {
    max-width: 
    426.33px !important;
    height: 
    473.37px !important;
}
.href-flex{
    flex-direction: column !important;
   a{
       margin: 20px 0 !important
   }
}
.iconss{
    width: 100% !important;
}
}
@media(max-width:900px){
    #oll-sections{
        max-width: 768px !important;

    }
    .signup-container{
        width: 
        auto !important;
        height:1084px !important;
      }
      #signup_1{
          left: 0%  !important;
      
      }
      #signup_2{
          left: 0% !important;
          
      }
      #signup_3{
          left: 0% !important;
          
      }
      #signup_4{
          left: 0% !important;
          
         
      }
      .signup-container-regist{
          width: 
          744px !important;
      }
    nav .nav-container{
       width: 100% !important;
       flex-wrap: wrap !important;
    }
    #coll{
        display: none !important;
    }
    .container-2-2-text{
      max-width: 100% !important;
      height: 125px !important;
    }
    #container-2-2{
        flex-direction: column !important;
    }
    .section-4-contaiener-1-1:nth-child(1){
        display: none !important;
     }
     #container-2-1 img{
         max-width: 251px !important;
         height: 182px !important;
     }
     .section-4-container-sections{
         grid-template-columns: repeat(1,1fr) !important;
     }
     .container-10{
         flex-direction: column !important;
         text-align: center !important;
     }
     .section-2-flex .container-4-1 p{
         width: 100% !important;
     }
     .container-4-1{
          width: 100% !important;
          margin: 30px 0 !important;
     }
     .animate-2{
         right: 150px !important;
     }
     .animate-3{
        right: 200px !important;
    }
    .animate-4{
        right: 206px !important;
    }
    .section-8 .container-8 img{
        max-width: 
        274.71px !important;
        height: 
        378.63px !important;
    }
    .section-6{
        flex-wrap: wrap !important;
    }
    .typewrite{
       max-width: auto !important;
    }
    .slider-wrapper{
        max-width: 
        348.57px !important;
        height: 
        286.46px !important;
    }
    h2{
        text-align: center !important;
    }
    .section-5-contaiener-1-1 p{
        max-width: 67% !important;
    }
    
}

@media(max-width:768px){
   
    .nav-container-sections-3{
        justify-content: flex-end !important;
    }
   
    #oll-sections{
        max-width: 657px !important;

    }
   
    .logo-size{
        width: 100px;
     }
     
   
    ul{
        display: none !important;
      }
    .container-2-3-container{
        display: none !important;
    }
   
    .section-3-container-sections .section-3-contaiener-1-1{
        max-width: auto !important;
    }
   
    
    .typewrite{
        max-width: 223px  !important;
        height: 203px !important;
    }
  
    .container-8{
        div:nth-child(1){
            display: none !important;
        }
    }

}

@media(max-width:676px){
    #oll-sections{
        max-width: 676px !important;

    }
    .wrap{
      
        font-size: 24px !important;
    }
    nav .nav-container .nav-container-sections-3{
      
        justify-content: flex-end !important;
      
    } 
   
    .section-3-container-sections .section-3-contaiener-1-1{
        max-width:  auto !important;
        margin: auto !important;
        
    }
    .section-4-contaiener-1-1{
        max-width:  auto !important;
        margin: auto !important;
    }
 
    .section-4-scroll{
        width: 100% !important;
    }
    footer .col-1{
        flex-wrap: nowrap !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important; 
        height: auto !important;
    }
   footer .ablok{
       display: none !important;
   } 
   .networks ul{
       display: flex !important;
       justify-content: space-evenly !important;
       align-items: center !important;
      flex-direction: initial !important;
   }
    nav .nav-container{
        width: 95% !important;
       
    }
    .section-9{
        display: none !important;
    }
    
  
   
    .logo-size{
       width: 100px;
       margin-left: 20px !important;
    }
    
    ul{
      display: none !important;
    }
    .armenia-1{
        display: none !important;
    }
   

   
  
    .section-3-components-center img{
        max-width: 30% !important;
    }
   
    .abs{
        right: 110px !important;
        font-size: 16px !important;
    }
    .container-3{
        width: 100% !important;
    }
    .section-3-container-sections .sections-sections{
       width: 100% !important;
    }
    #container-2-1{
        height: 582px  !important;
    }
   
    .section-3-container-sections .sections-sections{
       display: flex !important;
       justify-content: center !important;
       align-items: center !important;
    }
    
    h2{
        font-size: 
        20px !important;
    }
    
    .watch-more a{
         margin: 5px !important;
    }
   
    .section-5-contaiener-1-1 p {
        width: 90% !important;
    }
   
    .section-6 .section-5-contacts {
        margin: 5px 0 !important;
        grid-gap: 30px;
        flex-flow: column !important;
    }
    .section-1{
        width: 100% !important;
    }
   
    .section-1-absalute{
        flex-direction: inherit !important;
    }
    
    #search-on{
        display: none !important;
    }
    #signup_1{
        left: 2px  !important;

    }
    #signup_2{
        left: 2px !important;
        
    }
    #signup_3{
        left: 2px !important;
        
    }
    #signup_4{
        left: 2px !important;
        
    }
    
}
@media(max-width:677px){
    #oll-sections{
        max-width: 500px !important;

    }
    .carusel-2{
        padding-left: 0 !important;
    }
    .section-8 .container-8-text a{
        max-width: 275px !important;
    }
    .section-8 .container-8-text input{
        max-width: 275px !important;
    }
    
    *{
        h2{
            margin-top:87px !important ;
            margin-bottom: 50px !important;
        }
    }
    .section-4-container-sections a{
        width: 238px !important;
    }
    .section-3-container-sections{
        margin: auto !important;
  }
  .section-3-container-sections .section-3-contaiener-1-1{
    max-width: 
    299px !important;
    margin-left: auto !important;
}
.container-10{
    width: 90% !important;
    margin: auto !important;
}
.container-1{
    width: 146px !important;
   
}
.typewrite{
    width: auto !important;
   line-height: 29px !important;
}
.slider-wrapper{
    max-width: 
    157.24px !important;
    height: 
    129.22px !important;
 }
  .container-2-1-img-h3{
        display: block !important;
        color:  #fff;
        width: 90% !important;
        padding-left: 20px;
    }
    .container-2-1-img-h3-1900{
        display: none !important;
    }
    #container-2-1 .container-2-1-text{
        justify-content: center !important;
        margin: 0 !important;
}
#container-2-1{
    flex-direction: column !important;
    height: 495px !important;
}
.container-2-1-img{
    display: flex;
    justify-content: space-between;

}
}
@media(max-width:450px){
    .container-2-2-text p{
        font-size: 15px !important;
    }
    .abs{
        right: 110px !important;
        font-size: 15px !important;
    }
    .section-3-container-sections h3{
       font-size: 18px !important;
        right: 100px !important;
    }
    .container-2-2-text{
        width: auto !important;
    }
    .section-3-contaiener-1-1{
     max-width:300px !important;
    }
    .section-4-contaiener-1-1 {
        max-width:300px !important;
    }
    #oll-sections{
        max-width: 350px !important;

    }
    .signup-block-onclick a{
        margin:  20px 0 !important;
    }
    .section-5 .container-5-inputs input{
     width: 100% !important;          
    }
    .img-text-signup-container{
        width: 320px  !important;
    }
    .signup-container-regist{
        height: auto !important;
        width: 
        305px !important;

        margin: 0 !important;
        .h2-1{
            font-size:
            15px  !important;
        }
        h2{
            font-size:
            15px  !important;
        }
          }
          .signup-container-regist input{
              width: 
              279px !important;
          }
          .signup-container-center-2{
              height: auto !important;
          }
        .signupinnerhtml-2{
            flex-direction: column !important;
          }
        .signup-container{
            width: 320px !important;
            height:auto !important;
          }
        
          input{
              width: 265px !important;
              height: 
              60px !important;
          }
          select{
            width: 265px !important;
            height: 
            60px !important;
          }
          .sign-up-registrarion{
              width: 
              265px !important;
              height: 
              70px !important;
          }
          
          
    #container-2-1 img{
        width: 
        107px !important;
        height: 
        102px !important;
    }
    #container-2-1{
    
     width: auto  !important;
     height: 395px !important;
    }
   
    .section-7 img{
        display: none !important;
    }
    .top-1{
      display: none !important
    }

    .menu-320-hover{
    width: 100% !important;
    }
    .manu-320-onclick-block .menu-320-products{
        width: 100% !important;
    }
    .media-block{
           display: none !important;
    }
    #menu-320{
        display: block !important;
    }
  
    .href-relative{
        display: none !important;
    }
    .href-reletive-350{
       display: flex !important;
       flex-direction: column !important;
       width: 80%;
       margin: auto;
       a{

        margin-right: 20px;
        text-decoration: none;
        color: white;
        background: linear-gradient(92.88deg, #B565D8 9.74%, #EE609C 99.48%);
       width: 
       262px;
       font-size: 20px;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 70px;
        border-radius: 10px;
        box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
        
    }
    }
}